/*
Project Name: A Simple Web Site (HW14)  
Author: Paola Wollants 
Date Last Modified: April 8, 2019
/*
/*  Set the body background, text color, and font style */
body {background-image: url("background.gif");
      color: #221811;
      font-family:Verdana, Arial, sans-serif;
}
/* Set wrapper id background color */ 
<div id="wrapper">
    { background-color: #FEF6C2;
      min-width: 900px;
      max-width: 1280px;
}
/* Set the header background, text color, and make it centered */
header {background-color: #D2B48C;
        color: #221811;
        height: 150px;
        image: url("javajamlogo.jpg");
}
/* Make h1 take up more vertical space */
h1 { top-padding: 45px;
     left-padding: 220px;
     font-size: 3em;
}
/* Edit container */
#container { background-color: #FCEBB6;
             padding: 1.25em;
             width: 80%; min-width: 800px; max-width: 906px;
             margin-left: auto; }
}
/* Set the h3 background, text color, and make it to the left */
h3 {background-color: #D2B48C;
        color: #221811;
        text-align: left;
}
